.nav {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: hsl(60, 73%, 93%);
  overflow: hidden;
  border-bottom: solid 1.5px black;
}


.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 90px;
  width: 90px;

}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 225%;
  font-weight: 700;
  color: hsl(170, 99%, 27%);
  margin-top: 30px;
}

.navLink {
  display: inline-block;
  color: hsl(170, 99%, 27%);
  background-color: hsl(60, 73%, 93%);
  text-align: center;
  padding: 10px 3px;
  margin-top: 9.5px;
  font-size: 23px;
  margin-left: 25px;
  border: none;
  cursor: pointer;
  outline: 0;
  font-family: Helvetica;
  font-weight: 600;
}

.navLink:hover {
  background-color: hsl(60, 73%, 94.5%);
  border-radius: 15px;
}