.nav {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: hsl(60, 73%, 93%);
  overflow: hidden;
  border-bottom: solid 1px black;
}
.nav-left {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 215%;
  font-weight: 700;
  color: #027662;
  padding-left: 37.5px;
  margin-top: 22.5px;
}

.navLink {
  display: inline-block;
  color: #027662;
  background-color: hsl(60, 73%, 93%);
  text-align: center;
  padding: 10px 3px;
  text-decoration: none;
  margin-top:2px; 
  font-size: 23px;
  margin-left: 30px;
  border: none;
  cursor: pointer;
  outline: 0;
}
.navLink:hover {
  background-color: hsl(60, 73%, 94.5%);
  border-radius: 15px 15px 15px 15px;
}

